#home-section-class {
    background-image: url("https://i.ibb.co/rcBk6sC/homeleft.png"), url("https://i.ibb.co/5jV4ZYG/homeright.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: 0%, 100%;
  background-position-y: 140px, 130px;
}

.home-feat {
  margin-top: 150px;
  display: flex;
}