.magic-sub-fon {
	margin-left: 7%;
	margin-bottom: 2%;
	margin-top: 5%;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Inter' sans-serif;
	width: 80%;
}
.magic-head {
	margin-left: 7%;
	font-weight: 400;
	text-align: left;
	font-family: 'Inter' sans-serif;
	font-size: 24px;
}
