h1 {
	font-size: 34px;
	text-align: center;
	font-weight: normal;
}
p {
	text-align: center;
}
.style-p-fam {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	color: #7a7a7a;
}

.count {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2px 130px 1px;
	position: absolute;
	width: 1128px;
	height: 104px;
	left: calc(50% - 1128px / 2);
	top: 346px;
}
.stats {
	display: flex;
	justify-content: space-evenly;
}
.style-App {
	background: #ffffff;
	border: 1px solid #cccccc;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	/* // padding: 2px 130px 1px; */
	position: absolute;
	width: 80%;
	height: 104px;
	left: calc(50% - 80% / 2);
	margin-top: 3%;
}
.style-App > div > p:first-child {
	color: #016e47;
	font-size: 2.2rem;
	margin-bottom: 0%;
	margin-top: 20%;
}
.style-App > div > p:nth-child(2) {
	color: #7a7a7a;
	font-size: 0.9rem;
	margin-top: 0%;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}
.style-App > div:nth-child(2) {
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 1.5%;
	border-left: 1px solid #cccccc;
	/* padding-left: 6%; */
	border-right: 1px solid #cccccc;
	/* border: 1px solid black; */
	padding-bottom: 1.6%;
}
.style-App > div {
	padding-left: 11%;
	padding-right: 11%;
	padding-top: 0%;
	padding-bottom: 0%;
}
.style-App > div:nth-child(2) > p:nth-child(1) {
	margin-top: 0%;
	/* padding-top: -5%; */
}
.style-App > div > p {
	padding-top: 0%;
	padding-bottom: 0%;
}
