.explore-section {
    background-color: #FFF8F5;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.explore-head {
    display: flex;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #f1a07d;
    margin-bottom: 40px;
}

.explore-head > h2 {
    flex-grow: 1;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.explore-head > p {
    padding-top: 24px;
    font-weight: 500;
    font-size: 12px;
    color: #003BFF;
}

.explore-head > p:hover {
    text-decoration: underline;
}

.subcat, .active {
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    padding: 16px;
    cursor: pointer;
}

.active {
    background-color: #5555FF;
    color: #D4E2FE;
    border: 1px solid #5555FF;
}

.subcat {
    background-color: #D4E2FE;
    color: #282828;
    border: 1px solid #D4E2FE;
}

.subcat:hover {
    border: 1px solid #5555FF;
}

.content {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 23% 23% 23%;
    gap: 2%;
}

.bar-explore {
    height: 6px;
    width: 100%;
    background-color: #EBEBEB;
}

.fill-bar {
    height: 6px;
    background-color: #018757;
}

.cover {
    min-width: 262px;
}

.cover > img {
    width: 100%;
}

.pro-head {
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.pro-name {
    color: #282828;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}

.pro-des {
    color: #A3A3A3;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}