* {
    font-family: inherit;
}

.exploreSection {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.containter {
    margin: auto;
    width: 50%;
    margin-top: 50px;
}
.text {
    height: 22px;
    /* width: 80.66667175292969px;
    left: 0px;
    top: 16px; */
    margin: 0 12px;

    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
width: 14%;
/* identical to box height */


/* Primary/Ninja Black */

color: #282828;
}
.dropdown {
    height: 34px;
    width: 12%;
    left: 88.66668701171875px;
    top: 0px;
    border-radius: 0px;
    padding: 2px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    width: 113px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.btn {
    border: none;
    background: none;
    color:  inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 113px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.arrow {
    margin-left: 20px;
}
.dropdown-1 {
    border: 1px solid black;
    margin-top: 15px;
    /* margin-left: 15%; */
    position: absolute;
    z-index: 1;
    width: 40%;
    background: white;
}
.categiries  div {
    padding: 3px 2px;
    margin-left: 10px;
}
.filters {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 20px;
}

.dropmenu-2 {
    border: 1px solid black;
    /* margin-left: 40%; */
    margin-top: 15px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 20%;
    width: 20%;
    background: white;
}
.searchbar {
    width: 90%;
    padding: 4%;
    height: 2px;
}
.cat2 {
    width: 150%;
}
textarea:focus, input:focus {
    outline: none;
}
.dropmenu-3 {
    border: 1px solid black;
    margin-top: 15px;
    position: absolute;
    z-index: 1;
    margin-left: 39%;
    width: 7%;
    background: white;
}
.cat3 {
    width: 100%;
}

.maincontent {
    width: 81%;
    margin: auto;
    margin-top: 50px;
}
.titleExplore {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
    margin-left: 1.5%;

}

.noProjects {
    color:  #018757;
}

.grid-template {
    width: 92%;
    padding: 4%;
}
.border {
    border: 1px solid #EBEBEB;

}
.innerborder {
    padding: 3%;
}
.grid-image {
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.line {
    width: 100%;
    height: 4px;
    background:  #018757;
    margin: 40px 0;
}

.span {
    margin: 10px 0;
}

.price {
   

    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;

/* Primary/Grassy Green */

color: #018757;
}

.title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;

    /* Primary/Ninja Black */

    color: #282828;
    margin-top: 30px;
}
.title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.describe {
    

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;

    /* Nuteral/2 */

    color: #525252;
    margin: 2px 0;
}
.author {
    margin-top: 16px;
}

.fund {

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Nuteral/2 */

    color: #525252;
}
.bottom {
    margin-top: 20px;
    margin-left: 1%;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Nuteral/3 */

    color: #7A7A7A;
}
.geo {
    margin: 0 5%;
    
}
.sm {
    margin: 0 1%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Nuteral/3 */

    color: #7A7A7A;
    
}
.sm:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.loc {

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Nuteral/3 */

    color: #7A7A7A;
}
.loc:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.cat-cont {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 3%;
}

.display-data {
    width: 100%;
    height: 629px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.project_info_box{
    width: 328px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.productName{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #282828;
}
.description{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #525252;
    text-align: left;
}
.creator{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #525252;
}
.green_bar{
    height: 3px;
    background: #018757;
    margin-left: 25px;
}

.image-cover {
    width: 100%;
    max-height: 220px;
}
.measures{
    margin-top: 45px;
    height: 60px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 328px;
    margin: auto;
}

.loc_para{
    display: flex;
    justify-content: space-evenly;
    
}
.loc_img{
    margin-left: 30px;
    margin-right: -30px;
}
.loc_para>span{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #7A7A7A;
}




