.footertd {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.head-cell, .each-cell {
    text-align: justify;
    line-height: 16px;
    width: 300px;
}

.head-cell {
    font-size: 14px;
    color: #282828;
    font-weight: 500;
    height: 32px;
}

.each-cell {
    font-size: 12px;
    color: #525252;
    font-weight: 400;
    height: 20px;
}

.each-cell:hover {
    text-decoration: underline;
    color: #018757;
    cursor: pointer;
}