.main_cont{
    width: 100%;
    height: 664px;
    border: 1px solid #EBEBEB;
}


.corner_head{
    width: 138px;
    height: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: 9%;
    margin-top: 48px;
}
.boxes_cont{
    width: 84%;
    margin-left: 9%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 203px 203px;
    grid-gap: 2%;
    grid-row-gap: 45px;
}
.creatord_boxes{
    display: flex;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
}
.creatord_boxes:hover {
    border: 1px solid #018757;
}

.creator_img{
    width: 152px;
    height: 168px;
}

.creator_content{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 16px;
}

.box_head{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
}
.box_para{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #282828;
    text-align: left;
}

.read_more_creator{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #003BFF;
    margin-top: 64px;
    cursor: pointer;
}

.next_cont{
    width: 100%;
    height: 536px;
    border: 1px solid #EBEBEB;
}
.inside_next_cont{
    width: 84%;
    margin-left: 9%;
    margin-top: 30px;
    display: flex;
}

.left_div{
    display: flex;
    flex-direction: column;
    width: 308px;
}
.spiral_img{
    width: 80px;
    height: 80px;
}
.spiral_head{
    width: 158px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}
.yellow_para{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background-image: url("./yellow.jpg");
    background-size: cover;
    height: 61px;
    text-align: left;
    color: #000000;
}
.visit{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #003BFF;
    margin-top: 60px;
    cursor: pointer;
}
.right_div{
    margin-left: 50px;
}

.profile_div{
    display: flex;
}
.move_box{
    margin-left: 50px;
}


.profile_box{
    width: 212px;
    height: 212px;
    display: flex;
    flex-direction: column;
}
.profile_img{
    width: 112px;
    height: 112px;
}
.profile_head{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    position: relative;
    top: -20px;
    left: 32px;
    width: 170px;
}
.profile_info{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #282828;
    position: relative;
    /* top: -20px; */
    left: 32px;
}