.recomended-cont-box {
    padding: 10px;
}

.recommended-data {
    padding-left: 20px;
}

.recommend-name {
    font-size: 14px;
    font-weight: 400;
    color: #282828;
    text-align: left;
    margin: 0;
    padding: 3px;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.recommend-creator, .recommend-creator-span {
    font-size: 12px;
    font-weight: 400;
    color: #7A7A7A;
    text-align: left;
    margin: 0;
    padding: 3px;
}

.recommend-name:hover {
    color: #018757;
    text-decoration: underline;
    cursor: pointer;
}

/* .recommend-creator-span:hover {
    text-decoration: underline;
    cursor: pointer;
} */

.recommend-fund {
    font-size: 12px;
    font-weight: 500;
    color: #018757;
    text-align: left;
    margin: 0;
    padding: 3px;
}

.like-dislike {
    display: flex;
}

.book000 {
    padding: 4px;
}

.book000:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* #book111:hover + #remindMe {
    visibility: visible;
}

#book222:hover + #liked {
    visibility: visible;
}

#book333:hover + #disliked {
    visibility: visible;
}
   */
.hovertext {
    visibility: hidden;
    top: 100px;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }